PORT=5001
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/chat-app?retryWrites=true&w=majority
JWT_SECRET=your-very-strong-secret-key-min-32-characters-long-with-special-chars
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
